<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sonowlabs.GogettersDailyInspiration">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="com.sonowlabs.GogettersDailyInspiration.Activity.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BestStatusAndQuotesAppsByYMGDevelopers">
        <activity android:name="com.sonowlabs.GogettersDailyInspiration.Activity.ImagePickerActivity" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="fullSensor"
            />
        <activity android:name="com.sonowlabs.GogettersDailyInspiration.Activity.QuotesActivity"/>
        <activity android:name="com.sonowlabs.GogettersDailyInspiration.Activity.MakerActivity"/>
        <activity android:name="com.sonowlabs.GogettersDailyInspiration.Activity.QuoteActivity"/>
        <activity android:name="com.sonowlabs.GogettersDailyInspiration.Activity.SettingsActivity"/>
        <activity android:name="com.sonowlabs.GogettersDailyInspiration.Activity.PrivacyActivity"/>
        <activity android:name="com.sonowlabs.GogettersDailyInspiration.Activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sonowlabs.GogettersDailyInspiration.Activity.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.BestStatusAndQuotesAppsByYMGDevelopers.NoActionBar">
        </activity>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <receiver android:name="com.sonowlabs.GogettersDailyInspiration.Utils.BootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <service android:name="com.sonowlabs.GogettersDailyInspiration.Utils.NotifyService" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>
    </application>

</manifest>